<div class="row">
	<div class="large-12 columns">
		<h1>Silvers</h1>
	</div>
</div>

<div class="row">
	<div class="large-6 columns">
		<p><span class="label">Today's silver price</span> <%= number_to_currency(@silver_price) %> per oz.</p>
	</div>

	<div class="large-6 columns">
		<p><span class="label">Total silver price by weight:</span> <%= number_to_currency(@silver_price * @compiled_total_silver) %></p>
	</div>
</div>

<div class="row">
	<div class="large-6 columns">
		<p><span class="label">Total silver:</span> <%= @compiled_total_silver %> oz.</p>
	</div>

	<div class="large-6 columns">
		<p><span class="label">Profit:</span> <%= number_to_currency(@total_profit) %></p>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<p>+ <%= link_to 'New Silver', new_silver_path %></p>
		<table>
		  <tr>
		    <th>Name</th>
		    <th>Count</th>
		    <th>Silver Amount</th>
		    <th>Total Silver</th>
		    <th>Date Purchased</th>
		    <th>Price Paid</th>
		    <th>Profit</th>
		    <th>Delete</th>
		    <th>Edit</th>
		  </tr>
		 
		 	<% 
		 		@total_profit = 0
		 		@total_silver = 0
		 	%>
		  <% @silvers.each do |silver| %>
		  	<%
		  		@total_silver = silver.count * silver.silver_amount
		  		@total_silver_price_today = @silver_price * @total_silver
		  		@profit = @total_silver_price_today - silver.price_paid
		  		@total_profit = @total_profit + @profit
		  	%>
		    <tr>
		      <td><%= link_to silver.name, silver_path(silver) %></td>
		      <td><%= silver.count %></td>
		      <td><%= silver.silver_amount %> oz.</td>
		      <td><%= silver.total_silver %> oz.</td>
		      <td><%= silver.date_purchased %></td>
		      <td><%= number_to_currency(silver.price_paid) %></td>
		      <td><%= number_to_currency(@profit) %></td>
		      <td><%= link_to 'Delete', silver_path(silver),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
		      <td><%= link_to 'Edit', edit_silver_path(silver) %></td>
		    </tr>
		  <% end %>
		  <tr>
		  	<th>Totals</th>
		  	<th></th>
		  	<th></th>
		  	<th><%= @compiled_total_silver %> oz.</th>
		  	<th></th>
		  	<th></th>
		  	<th><%= number_to_currency(@total_profit) %></th>
		  	<th></th>
		  	<th></th>
		  </tr>
		</table>
	</div>
</div>
