<div class="row">
	<div class="large-12 columns">
		<%= form_for :silver, url: {action: "create"} do |f| %>
			<p>
				<%= f.label :name %>
				<%= f.text_field :name %>
			</p>

			<p>
				<%= f.label :date %>
				<%= f.date_field :date %>
			</p>

			<p>
				<%= f.label :dollar_amount %>
				<%= f.text_field :dollar_amount %>
			</p>

			<p>
				<%= f.label :notes %>
				<%= f.text_area :notes %>
			</p>

			<p>
				<%= f.submit %>
			</p>
		<% end %>
	</div>
</div>
